:root {
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 17px;
  --fs-xl: 18px;
  --fs-2xl: 18px;
  --fs-3xl: 22px;
  --fs-4xl: 27px;
  --fs-5xl: 51px;

  /* color */
  --bgcolor-red: #b91c20;
  --color-grey: #A8A8A9;

}

.color-grey {
  color: var(--color-grey);
}

.text-14 {
  font-size: var(--fs-sm);
}

.text-16 {
  font-size: var(--fs-md);
}

.text-17 {
  font-size: var(--fs-lg);
}

.text-18 {
  font-size: var(--fs-xl);
}

.text-24 {
  font-size: var(--fs-2xl);
}

.text-52 {
  font-size: var(--fs-3xl);
}

.text-60 {
  font-size: var(--fs-4xl);
}

.text-80 {
  font-size: var(--fs-5xl);
}

.bgcolor-red {
  background-color: var(--bgcolor-red);
}

.lh-22 {
  line-height: 22px;
}

.lh-72 {
  line-height: 72px;
}

.lh-md-72 {
  line-height: 36px;
}

.lh-62 {
  line-height: 62.4px;
}

.lh-md-62 {
  line-height: 30.4px;
}

.lh-36 {
  line-height: 36px;
}

.lh-sm-36 {
  line-height: 26px;
}

.lh-96 {
  line-height: 96px;
}

.lh-md-96 {
  line-height: 64px;
}

.lh-21 {
  line-height: 21px;
}

.lh-23 {
  line-height: 23.4px;
}

.fw-900 {
  font-weight: 900;
}

.lh-24 {
  line-height: 24px;
}

.op-80 {
  opacity: 80%;
}

@media (min-width:576px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 17px;
    --fs-xl: 18px;
    --fs-2xl: 24px;
    --fs-3xl: 30px;
    --fs-4xl: 30px;
    --fs-5xl: 62px;

  }

  .lh-sm-36 {
    line-height: 36px;
  }

  .lh-md-62 {
    line-height: 40.4px;
  }
}

@media (min-width:768px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 17px;
    --fs-xl: 18px;
    --fs-2xl: 24px;
    --fs-3xl: 38px;
    --fs-4xl: 40px;
    --fs-5xl: 67px;

  }

  .lh-md-72 {
    line-height: 45px;
  }

  .lh-md-62 {
    line-height: 65.4px;
  }

  .lh-md-96 {
    line-height: 72px;
  }
}

@media (min-width:992px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 17px;
    --fs-xl: 18px;
    --fs-2xl: 24px;
    --fs-3xl: 52px;
    --fs-4xl: 52px;
    --fs-5xl: 80px;

  }

  .lh-md-72 {
    line-height: 72px;
  }

  .lh-md-96 {
    line-height: 96px;
  }
}

@media (min-width:1200px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 17px;
    --fs-xl: 18px;
    --fs-2xl: 24px;
    --fs-3xl: 52px;
    --fs-4xl: 60px;
    --fs-5xl: 80px;

  }
}

@media (min-width:1400px) {
  :root {
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 17px;
    --fs-xl: 18px;
    --fs-2xl: 24px;
    --fs-3xl: 52px;
    --fs-4xl: 60px;
    --fs-5xl: 80px;

  }
}